<!DOCTYPE html>
<html>
  <head>
     <meta charset = "UTF-8">
     <title>
        Exploring the Pug template
     </title>
  </head>
  <body>
     <h1 id ="myHeading" >
        This is a pug template
     </h1>
     <p id = "firstParagraph">
        I love this template!!!
     </p>
  </body>
</html>